@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap");

:root {
  --clr-violeta: #2c1e4a;
  --clr-rosita: #d73cbe;
  --clr-negro: #1c1c1c;
  --font-roboto: "Roboto Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--clr-violeta);
}
svg {
  background: transparent;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--clr-violeta);
}

.logo {
  color: var(--clr-rosita);
  font-family: var(--font-roboto);
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-family: var(--font-roboto);
}

.nav-list li a {
  text-decoration: none;
  color: aliceblue;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/************* HERO ***************/

.hero {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.card-presentacion {
  color: aliceblue;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-inline: 5em;
  padding-block: 2em;
  font-family: var(--font-roboto);
}
.card-presentacion h2 {
  font-size: 4.5em;
  text-transform: uppercase;
}
.card-presentacion p {
  font-size: 2em;
}
.blob1 {
  width: 40%;
  height: auto;
  display: grid;
  place-items: center;
  padding: 2em;
}

/****************** que hacemos? *****************/
.card-hacemos {
  color: aliceblue;
  padding-inline: 3em;
  padding-block: 2em;
}
.card-hacemos h2 {
  color: var(--clr-rosita);
  font-family: var(--font-roboto);
  font-size: 2em;
  padding-inline: 2em;
}
.info {
  display: flex;
  align-items: center;
}
.info p {
  font-size: 1.5em;
}

/******************* servicios web*******************************/

.serv-section {
  color: aliceblue;
  padding: 7em;
}
.serv-info {
  font-family: var(--font-roboto);
}
.serv-info h2 {
  text-transform: uppercase;
  font-size: 3em;
}
.serv-info p {
  font-size: larger;
}

/**************** media queries ********************/

@media screen and (max-width: 992px) {
  .hero {
    min-height: 120vh;
    flex-direction: column;
    align-items: center;
  }
  .card-presentacion {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blob1 {
    width: 65%;
  }
  .card-hacemos {
    padding-bottom: 10em;
  }
  .info {
    flex-direction: column;
  }
  .info p {
    font-size: 2em;
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: var(--clr-rosita);
  }

  .cerrar-menu {
    color: var(--clr-rosita);
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-violeta);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list li a {
    color: var(--clr-rosita);
  }
  .blob1 {
    width: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .blob1 {
    width: 80%;
  }
}
